<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <style type="text/css">
    body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        shape-rendering: crispEdges;
    }
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    p.error_message{
        font-size: 12px;
        color: red;
    }

    .orangeText {
        color: #F5B041;
        font-weight: bold;
    }
    .blueText{
        color: #5DADE2;
        font-weight: bold;
    }
    .redText{
        color: red;
        font-weight: bold;
    }
    p.legend{
        position: absolute;
        left:50px;
        font-size: 12px;
    }

    </style>

</head>

<body>
</body>
<script type="text/javascript">


// receive relevant data from Django
var received_data  = JSON.parse('{{ data | safe }}');

var margin = {top: 30, right: 55, bottom: 50, left: 50},
    width = 400 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

function get_name(){
  var name = received_data.student_name;
  document.write("Hello student ",name);
}

function display_bar(){
    var data = received_data.bardata;
    // Get student group assignment
    var assignment = data[data.length-1];
    data.splice(-1,1);
    var params = received_data.comp_curve;
    {#var mean1 = params.comp_mean;#}
    var mean1 = params.comp_mean;
    var sigma1 = params.comp_std;

    //for some reason peak is of the mean is shifted by -1.5 when drawn. Add +3 to the mean to compensate.
    var comparison_curve = getDataBar(mean1,sigma1);
    {#comparison_curve_2 = {"p": 5, "q":2};#}

    // Get total number of students
    var total = 0
    data.forEach(function(d){
      total += d.size
    });

    var max = 0
    data.forEach(function (d) {
        if (d.size > max){
            max = d.size
        }
    });
    max += 1;


    {% comment %}// Normalize data
    data.forEach(function(d){
      d.size = d.size/max
    });{% endcomment %}

    {% comment %}// Normalize data
    data.forEach(function(d){
      d.size = d.size/total
    });
{% endcomment %}
    // Set ranges
    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);


    var abc = [0,0.05,0.1,0.15,0.2,0.25,0.3,0.35,0.4,0.45,0.5,
                0.55,0.6,0.65,0.7,0.75,0.8,0.85,0.9,0.95,1,
                1.05,1.1,1.15,1.2,1.25,1.3,1.35,1.4,1.45,1.5,
                1.55,1.6,1.65,1.7,1.75,1.8,1.85,1.9,1.95,2,
                2.05,2.1,2.15,2.2,2.25,2.3,2.35,2.4,2.45,2.5,
                2.55,2.6,2.65,2.7,2.75,2.8,2.85,2.9,2.95,3,
                3.05,3.1,3.15,3.2,3.25,3.3,3.35,3.4,3.45,3.5,
                3.55,3.6,3.65,3.7,3.75,3.8,3.85,3.9,3.95,4,
                4.05,4.1,4.15,4.2,4.25,4.3,4.35,4.4,4.45,4.5,
                4.55,4.6,4.65,4.7,4.75,4.8,4.85,4.9,4.95,5,
                5.05,5.1,5.15,5.2,5.25,5.3,5.35,5.4,5.45,5.5,
                5.55,5.6,5.65,5.7,5.75,5.8,5.85,5.9,5.95, 6,
                6.05,6.1,6.15,6.2,6.25,6.3,6.35,6.4,6.45,6.5,
                6.55,6.6,6.65,6.7,6.75,6.8,6.85,6.9,6.95,7,
                7.05,7.1,7.15,7.2,7.25,7.3,7.35,7.4,7.45,7.5,
                7.55,7.6,7.65,7.7,7.75,7.8,7.85,7.9,7.95,8,
                8.05,8.1,8.15,8.2,8.25,8.3,8.35,8.4,8.45,8.5,
                8.55,8.6,8.65,8.7,8.75,8.8,8.85,8.9,8.95,9,
                9.05,9.1,9.15,9.2,9.25,9.3,9.35,9.4,9.45,9.5,
                9.55,9.6,9.65,9.7,9.75,9.8,9.85,9.9,9.95,10];

    var abc = [1,
                1.25,1.5,
                1.75,2,
                2.25,2.5,
                2.75,3,
                3.25,3.5,
                3.75,4,
                4.25,4.5,
                4.75,5,
                5.25,5.5,
                5.75,6,
                6.25,6.5,
                6.75,7,
                7.25,7.5,
                7.75,8,
                8.25,8.5,
                8.75,9,
                9.25,9.5,
                9.75,10];
    {#x.domain(data.map(function(d) { return d.bucket; }));#}
    x.domain(abc);
    y.domain([0,max]);


    var xScale_b = d3.scaleBand()
            .rangeRound([0, width])
            .padding(0.1)
            {#.domain(comparison_curve.map(function(d) {#}
            {#  return d[0];#}
            {#  })),#}
            {#.domain([1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10]),#}
            .domain(abc),
        yScale_b = d3.scaleLinear()
                .rangeRound([height, 0])
                .domain([0, 0.7]);


    var line_b = d3.line()
      .x(function(d, i) { return x(d[0]); })
      .y(function(d) { return yScale_b(d[1]); })
      .curve(d3.curveLinear);

    var line_c = d3.line()
      .x(function(d) {
          return x(d.q);
      })
      .y(function(d) {
          return y(d.p);
      });



    {#window.alert(line_b(comparison_curve));#}
    {#window.alert(Math.max(...comparison_curve));#}

    var svg_Bar = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom);

    var g =  svg_Bar.append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        {#.call(d3.legend);#}

    g.append("text")
      .attr("x", (width / 2))
      .attr("y", 0 - (margin.top / 2))
      .attr("text-anchor", "middle")
      .style("font-size", "15px")
      .style("font-weight", 700)
      .text("Jij vs. studenten met gelijke doelen");

    // X axis label
    g.append("text")
      .attr("class", "x label")
      .attr("text-anchor", "end")
      .attr("x", width)
      .attr("y", height+30)
      .text("Gemiddeld cijfer");

    // Y axis label
    g.append("text")
      .attr("class", "y label")
      .attr("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("x", 3)
      .attr("y", -25)
      .text("Aantal studenten");

    {#var legend = svg_Bar.append("g")#}
    {#    .attr("class", "legend")#}
    {#    .attr("transform","translate(50,30)")#}
    {#    .style("font-size","12px")#}
    {#    .call(d3.legend)#}


    {#var g = svg_Bar.append("g")#}
    {#    // .attr("transform", "translate(" + margin.left + "," + margin.top + ")");#}

    // X axis
    g.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).tickValues(x.domain().filter(function(d,i){ return !(i%4)})));

    // Y axis
    g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).ticks(max))
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .text("size");



    if (assignment.assignment > 0) {
        // Bars of other students

        var bar1 = g.selectAll("rect")
            .data(data)
            .enter().append("g");

        bar1.append("rect")
            .attr("class", "bar")
            .attr("border", 10)
            .style("stroke", "#2E86C1")
            .attr("fill", "#5DADE2")
            .attr("x", function (d) {
                return x(d.bucket)- x.bandwidth()/6;
            })
            .attr("y", function (d) {
                return y(d.size);
            })
            .attr("width", x.bandwidth()*1.5)
            .attr("height", function (d) {
                return height - y(d.size);
            });

        // Bar of user

        bar1.append("rect")
            .attr("class", "bar")
            .attr("border", 10)
            .style("stroke", "#D68910")
            .attr("fill", "#F5B041")
            .attr("x", function (d) {
                return x(assignment.assignment) - x.bandwidth()/6;
            })
            .attr("y", function (d) {
                return y(1);
            })
            .attr("width", x.bandwidth()*1.5)
            .attr("height", function (d) {
                return height - y(1);
            });

        bar1.append("rect")
            .attr("class", "bar")
            {#.attr("border", 0)#}
            {#.style("stroke", "#2E86C1")#}
            .attr("fill", "red")
            .attr("fill-opacity","0.05")
            .attr("x", function (d) {
                return x(mean1) + x.bandwidth()/2-0.5;
            })
            .attr("y", function (d) {
                return y(max);
            })
            .attr("width", 2)
            .attr("height", function (d) {
                return height - y(max);
            });

        {#bar1.append("path")#}
        {#  .attr("class", "line")#}
        {#  .attr("d", line_b(comparison_curve));#}
        {#.attr("d", line2(dataset));#}


    }


}
function display_Gaussian() {
    params = received_data.gaussdata
    var mean = params.weighted_grade;
    var sigma = params.sigma

    // var passProb = Number(normalcdf(mean, sigma, 5.5).toFixed(2))

  var data = getData(mean, sigma);


  var x = d3.scaleLinear()
      .range([0, width])
      .domain([0,10]);

  var y = d3.scaleLinear()
      .range([height, 0])
      .domain([0,1]);

  var xAxis = d3.axisBottom()
    .scale(x);

  var yAxis = d3.axisLeft()
    .scale(y)
    .tickFormat(d3.format(".0%"))

  var line = d3.line()
      .x(function(d) {
          return x(d.q);
      })
      .y(function(d) {
          return y(d.p);
      });

  {#window.alert(line(data))#}

  var svg_Gauss = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // X axis label
  svg_Gauss.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("y", height+30)
    .text("Eindcijfer");

  {#// X axis passprob#}
  {#svg_Gauss.append("text")#}
  {#  .attr("class", "x label")#}
  {#  .attr("text-anchor", "end")#}
  {#  .attr("x", width/2)#}
  {#  .attr("y", height+50)#}
  {#  // .text("Geschatte kans op eindcijfer > 5.5: "+passProb*100+"%");#}
  {#  .text("Behoudens ondergrens eisen.")#}

  // Y axis label
  svg_Gauss.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("transform", "rotate(-90)")
    .attr("x", 3)
    .attr("y", -40)
    .text("Geschatte kans op eindcijfer");

  svg_Gauss.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "15px")
    .style("font-weight", 700)
    .text("Geschat eindcijfer");

  svg_Gauss.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg_Gauss.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  svg_Gauss.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);
}

function getData(mean, sigma) {
  // loop to populate data array with
  // probabily - quantile pairs
  var dataa = [];
  for (var i = 0; i < 100000; i++) {
      var q = normal(-2,12,1); // calc random draw from normal dist
      var p = gaussian(q, mean, sigma); // calc prob of rand draw

      el = { "q": q, "p": p}
      if (q < 10.0 && q > 0){ dataa.push(el) }
  };
  // Sort data for plotting
  dataa.sort(function(x, y) {
      return x.q - y.q;
  });
  return dataa
}

function getDataBar(mean, sigma){
    var data_b = [];
    for (var i = 0; i < 20; i++) {
      var q = i*0.5; // calc random draw from normal dist
      var p = gaussian_bar(i, mean, sigma); // calc prob of rand draw

      var pair = [q,p];
      data_b.push(pair)
  };
  // Sort data for plotting
  {#data_b.sort(function(x, y) {#}
  {#    return x[0] - y[0];#}
  {# });#}
  return data_b
    }

function normal(min, max, skew) {
    var u = 0, v = 0;
    while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)
    while(v === 0) v = Math.random();
    let num = Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );

    num = num / 10.0 + 0.5; // Translate to 0 -> 1
    if (num > 1 || num < 0) num = normal(min, max, skew); // resample between 0 and 1 if out of range
    num *= max - min; // Stretch to fill range
    num += min; // offset to min
    return num;
}

function gaussian_bar(x, mean, std){
        var ni1 = 1 / (std * Math.sqrt(2 * Math.PI));
        var ni2 = Math.exp(-1*((x-mean)*(x-mean))/(2* (std*std)))
    return ni1*ni2;
    }


//taken from Jason Davies science library
// https://github.com/jasondavies/science.js/
function gaussian(x, mean, sigma) {
	var gaussianConstant = 1 / Math.sqrt(2 * Math.PI),
    x = (x - mean) / sigma;
    return gaussianConstant * Math.exp(-.5 * x * x) / sigma;
};

// function normalcdf(mean, sigma, x) {
//     // see wolframalpha.com
//     var z = (x-mean)/Math.sqrt(2*sigma*sigma);
//     var t = 1/(1+0.3275911*Math.abs(z));
//     var a1 =  0.254829592;
//     var a2 = -0.284496736;
//     var a3 =  1.421413741;
//     var a4 = -1.453152027;
//     var a5 =  1.061405429;
//     var erf = 1-(((((a5*t + a4)*t) + a3)*t + a2)*t + a1)*t*Math.exp(-z*z);
//     var sign = 1;
//     if(z < 0) { sign = -1; }
//     return 1-((1/2)*(1+sign*erf));
// };

display_bar()
display_Gaussian()
{#draw()#}
{#get_name()#}

</script>
<body>

<p class="legend">
    <span class="orangeText">Oranje</span>: Jij<br>
    <span class="blueText">Blauw</span>: Klasgenoten med gelijke doelen <br>
    <span class="redText">Rood</span>: Mean van de cijfers van de klasgenoten op het plaatje
</p>



{#{%  if not has_comparison_group %}#}
{#    <p class="error_message">No selection could be made for the goal grade you set.<br>#}
{#    This is most likely due to the fact that the goal grade you#}
{#        have set is unrealistic. <br> Please set a new goal grade.</p>#}
{#<form name = "form" action = "{% url "iki:new_goal" student_id%}"#}
{#         method = "POST" >{% csrf_token %}#}
{#    <input type="text", name="new_goal_grade">#}
{#    <button type="submit", value="new_grade">Set my new goal grade</button>#}
{#</form>#}
{#    {% if messages %}#}
{#    {% for message in messages %}#}
{#    {{ message }}#}
{#    {% endfor %}#}
{#{%  endif %}#}
{#{% endif %}#}





</body>



</html>
