<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <style type="text/css">
    body {
        font: 10px sans-serif;
    }
    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
        shape-rendering: crispEdges;
    }
    .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    p.error_message{
        font-size: 12px;
        color: red;
    }
    </style>

</head>

<body>
</body>
<script type="text/javascript">

var dataset = [
    ['札幌',703, 1902],
    ['清水',1473,3341],
    ['松本',863,1935],
    ['Ｃ大阪',1494,3008],
    ['京都',965,1743],
    ['岡山',568,1271],
    ['町田',189, 626],
    ['横浜ＦＣ',464, 1064],
    ['徳島',731, 1443],
    ['愛媛',306, 630],
    ['千葉',899, 2556],
    ['山口',231, 880],
    ['水戸',262, 589],
    ['山形',429, 1497],
    ['長崎',322, 749],
    ['熊本',315, 720],
    ['群馬',228, 522],
    ['東京Ｖ',436, 1391],
    ['讃岐',287, 613],
    ['岐阜',419,932],
    ['金沢',296,612],
    ['北九州',343,855]
  ];

var norma = [ 1.7626123 ,  1.49828859,  0.27964945,  1.45344223, -1.00934951,
        0.445325  ,  1.06075561, -1.11652082,  1.34952093, -0.88194799];



// receive relevant data from Django
var received_data  = JSON.parse('{{ data | safe }}');

var margin = {top: 30, right: 55, bottom: 50, left: 50},
    width = 400 - margin.left - margin.right,
    height = 300 - margin.top - margin.bottom;

function get_name(){
  var name = received_data.student_name;
  document.write("Hello student ",name);
}

function display_bar(){
    var data = received_data.bardata;
    // Get student group assignment
    var assignment = data[data.length-1];
    data.splice(-1,1);
    var params = received_data.gaussdata;
    var mean1 = params.weighted_grade;
    var sigma1 = params.sigma;

    var comparison_curve = getData(mean1,sigma1);


    {#// Check if data has not only 0 value when assignment is non zero#}
    {#if (assignment.assignment!=0){#}
    {#    var group_sizes = data.map(function(d) {return d.size}).reduce(function(a,b) {return a+b;},0);#}
    {#    if(group_sizes == 0){#}
    {#        var goal_grade = prompt("No set of peer students have been found for your goal grade.\n" +#}
    {#            "Please update your goal grade:", "My goal grade")#}
    {#    }#}
    {#}#}
    {##}
    {#var goal_grade = prompt("No set of peer students have been found for your goal grade.\n" +#}
    {#            "Please update your goal grade:", "My goal grade")#}

    {#if(goal_grade != null){#}
    {#    document.getElementById("demo").innerHTML =#}
    {##}
    {#}#}

    // Get total number of students
    var total = 0
    data.forEach(function(d){
      total += d.size
    });

    var max = 0
    data.forEach(function (d) {
        if (d.size > max){
            max = d.size
        }
    });
    max += 1;

    {#var test = getData(5, 1);#}


    {% comment %}// Normalize data
    data.forEach(function(d){
      d.size = d.size/max
    });{% endcomment %}

    {% comment %}// Normalize data
    data.forEach(function(d){
      d.size = d.size/total
    });
{% endcomment %}
    // Set ranges
    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
        y = d3.scaleLinear().rangeRound([height, 0]);


    {#var xScale = d3.scaleBand()#}
    {#            .rangeRound([0, width])#}
    {#            .padding(0.1)#}
    {#            .domain(dataset.map(function(d) {#}
    {#              return d[0];#}
    {#            }));#}
    {#  yScale = d3.scaleLinear()#}
    {#            .rangeRound([height, 0])#}
    {#            .domain([0, d3.max(dataset, (function (d) {#}
    {#              return d[2];#}
    {#            }))]);#}
    {##}
    {#var line2 = d3.line()#}
    {#  .x(function(d, i) { return xScale(d[0]) + xScale.bandwidth() / 2; })#}
    {#  .y(function(d) { return yScale(d[1]); })#}
    {#  .curve(d3.curveMonotoneX);#}
    {##}
    {#var line3 = d3.line()#}
    {#  .x(function(d, i) { return xScale(d.q) + xScale.bandwidth() / 2; })#}
    {#  .y(function(d) { return yScale(d.p); })#}
    {#  .curve(d3.curveMonotoneX);#}


    x.domain(data.map(function(d) { return d.bucket; }));
    {#x.domain([0,1,2,3,4,5,6,7,8,9,10]);#}
    y.domain([0,max]);

    var line_a = d3.line()
      .x(function(d) {
          return x(d.q);
      })
      .y(function(d) {
          return y(d.p);
      });
    window.alert(line_a(comparison_curve))





    var svg_Bar = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom);

    var g =  svg_Bar.append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    g.append("text")
      .attr("x", (width / 2))
      .attr("y", 0 - (margin.top / 2))
      .attr("text-anchor", "middle")
      .style("font-size", "15px")
      .style("font-weight", 700)
      .text("Jij vs. studenten met gelijke doelen");

    // X axis label
    g.append("text")
      .attr("class", "x label")
      .attr("text-anchor", "end")
      .attr("x", width)
      .attr("y", height+30)
      .text("Gemiddeld cijfer");

    // Y axis label
    g.append("text")
      .attr("class", "y label")
      .attr("text-anchor", "end")
      .attr("transform", "rotate(-90)")
      .attr("x", 3)
      .attr("y", -40)
      .text("Aantal studenten");

    {#var g = svg_Bar.append("g")#}
    {#    // .attr("transform", "translate(" + margin.left + "," + margin.top + ")");#}

    // X axis
    g.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x).ticks(10));

    // Y axis
    g.append("g")
        .attr("class", "axis axis--y")
        .call(d3.axisLeft(y).ticks(max))
      .append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 6)
        .attr("dy", "0.71em")
        .attr("text-anchor", "end")
        .text("size");

    // Bars of other students
    var bar1 = g.selectAll("rect")
        .data(data)
        .enter().append("g");

    bar1.append("rect")
        .attr("class", "bar")
        .attr("border", 10)
        .style("stroke","#2E86C1")
        .attr("fill", "#5DADE2")
        .attr("x", function(d) { return x(d.bucket)+1; })
        .attr("y", function(d) { return y(d.size); })
        .attr("width", x.bandwidth()-2)
        .attr("height", function(d) { return height - y(d.size); });

    // Bar of user

    var bar2 = g.selectAll("rect2")
        .data(data)
        .enter().append("g");

    bar1.append("rect")
        .attr("class", "bar")
        .attr("border", 10)
        .style("stroke","#D68910")
        .attr("fill", "#F5B041")
        .attr("x", function(d) { return x(assignment.assignment)+2.5; })
        .attr("y", function(d) { return y(1); })
        .attr("width", x.bandwidth()-5)
        .attr("height", function(d) { return height-y(1); });

    bar1.append("path")
      .datum(comparison_curve)
      .attr("class", "line")
      .attr("d", line_a);


}
function display_Gaussian(line) {
    params = received_data.gaussdata
    var mean = params.weighted_grade;
    var sigma = params.sigma

    // var passProb = Number(normalcdf(mean, sigma, 5.5).toFixed(2))

  var data = getData(mean, sigma);


  var x = d3.scaleLinear()
      .range([0, width])
      .domain([0,10]);

  var y = d3.scaleLinear()
      .range([height, 0])
      .domain([0,1]);

  var xAxis = d3.axisBottom()
    .scale(x);

  var yAxis = d3.axisLeft()
    .scale(y)
    .tickFormat(d3.format(".0%"))

  var line = d3.line()
      .x(function(d) {
          return x(d.q);
      })
      .y(function(d) {
          return y(d.p);
      });

  {#window.alert(line(data))#}

  var svg_Gauss = d3.select("body").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  // X axis label
  svg_Gauss.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width)
    .attr("y", height+30)
    .text("Eindcijfer");

  // X axis passprob
  svg_Gauss.append("text")
    .attr("class", "x label")
    .attr("text-anchor", "end")
    .attr("x", width/2)
    .attr("y", height+50)
    // .text("Geschatte kans op eindcijfer > 5.5: "+passProb*100+"%");
    .text("Behoudens ondergrens eisen.")

  // Y axis label
  svg_Gauss.append("text")
    .attr("class", "y label")
    .attr("text-anchor", "end")
    .attr("transform", "rotate(-90)")
    .attr("x", 3)
    .attr("y", -40)
    .text("Geschatte kans op eindcijfer");

  svg_Gauss.append("text")
    .attr("x", (width / 2))
    .attr("y", 0 - (margin.top / 2))
    .attr("text-anchor", "middle")
    .style("font-size", "15px")
    .style("font-weight", 700)
    .text("Voorspeld eindcijfer");

  svg_Gauss.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg_Gauss.append("g")
      .attr("class", "y axis")
      .call(yAxis);

  svg_Gauss.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);
}

function getData(mean, sigma) {
  // loop to populate data array with
  // probabily - quantile pairs
  var dataa = [];
  for (var i = 0; i < 100000; i++) {
      var q = normal(-2,12,1); // calc random draw from normal dist
      var p = gaussian(q, mean, sigma); // calc prob of rand draw

      el = { "q": q, "p": p}
      if (q < 10.0 && q > 0){ dataa.push(el) }
  };
  // Sort data for plotting
  dataa.sort(function(x, y) {
      return x.q - y.q;
  });
  return dataa
}

function normal(min, max, skew) {
    var u = 0, v = 0;
    while(u === 0) u = Math.random(); //Converting [0,1) to (0,1)
    while(v === 0) v = Math.random();
    let num = Math.sqrt( -2.0 * Math.log( u ) ) * Math.cos( 2.0 * Math.PI * v );

    num = num / 10.0 + 0.5; // Translate to 0 -> 1
    if (num > 1 || num < 0) num = normal(min, max, skew); // resample between 0 and 1 if out of range
    num *= max - min; // Stretch to fill range
    num += min; // offset to min
    return num;
}

//taken from Jason Davies science library
// https://github.com/jasondavies/science.js/
function gaussian(x, mean, sigma) {
	var gaussianConstant = 1 / Math.sqrt(2 * Math.PI),
    x = (x - mean) / sigma;
    return gaussianConstant * Math.exp(-.5 * x * x) / sigma;
};

// function normalcdf(mean, sigma, x) {
//     // see wolframalpha.com
//     var z = (x-mean)/Math.sqrt(2*sigma*sigma);
//     var t = 1/(1+0.3275911*Math.abs(z));
//     var a1 =  0.254829592;
//     var a2 = -0.284496736;
//     var a3 =  1.421413741;
//     var a4 = -1.453152027;
//     var a5 =  1.061405429;
//     var erf = 1-(((((a5*t + a4)*t) + a3)*t + a2)*t + a1)*t*Math.exp(-z*z);
//     var sign = 1;
//     if(z < 0) { sign = -1; }
//     return 1-((1/2)*(1+sign*erf));
// };

display_bar()
display_Gaussian()
{#get_name()#}

</script>
<body>

<br>
<br>


{%  if not has_comparison_group %}
    <p class="error_message">No selection could be made for the goal grade you set.<br>
    This is most likely due to the fact that the goal grade you
        have set is unrealistic. <br> Please set a new goal grade.</p>
<form name = "form" action = "{% url "iki:new_goal" student_id%}"
         method = "POST" >{% csrf_token %}
    <input type="text", name="new_goal_grade">
    <button type="submit", value="new_grade">Set my new goal grade</button>
</form>
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
{%  endif %}
{% endif %}





</body>



</html>
